{{partial "header.html" .}}
<link rel="stylesheet" href="/assets/css/article.css">
<main>
  <section class="project-details-area ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          {{ .Content }}

          {{ range where (where .Site.Pages "Section" "articles") ".Params.newsletter" .Title }}
          <hr>
          <h2 id="{{ .Title | urlize }}"><a href="{{ .Permalink | relURL }}" title="{{ .Title }}">{{ .Title }}</a></h2>
          {{ .Content }}
          {{ end }}

          <hr>

          <h2> Credits</h2>

          <ul>
          {{ range where (where .Site.Pages "Section" "articles") ".Params.newsletter" .Title }}
          <li>{{ .Title }} - {{ .Params.author }}</li>
          {{ end }}

          {{ range .Params.credits }}
          <li>{{ . }}</li>
          {{ end }}
          </ul>

          {{ partial "license.html" .}}
        </div>
      </div>
    </div>
  </section>
</main>

{{partial "footer.html" .}}
