</body>


<!-- Jquery Slim JS -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Meanmenu JS -->
<script src="/assets/js/jquery.meanmenu.js"></script>
<!-- Owl Carousel JS -->
<script src="/assets/js/owl.carousel.js"></script>
<!-- Magnific JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Nice Select JS -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!-- Appear JS -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- Odometer JS -->
<script src="/assets/js/odometer.min.js"></script>
<!-- Image Light Box JS -->
<script src="/assets/js/imagelightbox.min.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="/assets/js/contact-form-script.js"></script>
<!-- Wow JS -->
<script src="/assets/js/wow.min.js"></script>
<!-- Custom JS -->
<script src="/assets/js/main.js"></script>
<script src="luxon.min.js"></script>
<script src="rrule.min.js"></script>
</html>
