<nav>
  <a href="/">IDC1</a>
  <input type="checkbox" id="nav-toggle">
  <label for="nav-toggle" id="burger-menu">
    <svg viewBox="0 0 100 80" width="30" height="30" style="fill: white">
      <rect width="100" height="16" rx="8"></rect>
      <rect y="26" width="100" height="16" rx="8"></rect>
      <rect y="52" width="100" height="16" rx="8"></rect>
    </svg>
  </label>
  <ol id="nav-menu">
    <li><a href="/organizations">Organizations</a></li>
    <li><a href="/publications">Publications</a></li>
    <li><a href="/events">Events</a></li>
  </ol>
</nav>

{{ if and .Parent (ne .Parent .Site.Home) }}
  <header>
    {{ template "breadcrumb" dict "e" .Parent "h" .Site.Home}}
     {{ .Title }}
  </header>
{{ end }}

{{define "breadcrumb"}}
  {{ if and (.e) (ne .e .h) }}
    {{ template "breadcrumb" dict "e" .e.Parent "h" .h }}
    <a href="{{.e.Permalink}}">{{ .e.Title }}</a> &gt;
  {{end}}
{{end}}

