<nav>
  <a href="/">IDC</a>
  <input type="checkbox" id="nav-toggle">
  <label for="nav-toggle" id="burger-menu">
    <svg viewBox="0 0 100 80" width="30" height="30" style="fill: white">
      <rect width="100" height="16" rx="8"></rect>
      <rect y="26" width="100" height="16" rx="8"></rect>
      <rect y="52" width="100" height="16" rx="8"></rect>
    </svg>
  </label>
  <ol id="nav-menu">
    <li><a href="/organizations">Organizations</a></li>
    <li><a href="/events">Events</a></li>
  </ol>
</nav>

{{ if .Parent }}
  <header>
    {{ template "breadcrumb" .Parent }}
     {{ .Title }}
  </header>
{{ end }}

{{define "breadcrumb"}}
  {{ if . }}
    {{ template "breadcrumb" .Parent }}
    <a href="{{.Permalink}}">{{ .Title }}</a> &gt;
  {{end}}
{{end}}

