{{partial "header.html" .}}

<main>
  <h1>{{ .Title }}</h1>
  <ul>
  {{ range ((.Pages.ByParam "title").ByParam "event_date").Reverse }}
  {{ $slug :=  (.RelPermalink | relURL | anchorize) }}
    <li id="{{ $slug }}">
      <h3>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>

      {{ if .Params.event_date }}
      <div><strong>Next:</strong> <span id="next-{{ $slug }}">{{ .Params.event_date }}</span></div>
      {{ end }}
      {{ if .Params.freq }}
      <div><strong>Frequency:</strong> <span id="recur-{{ $slug }}">{{ .Params.freq }}</span></div>
      {{ end }}
    </li>

    {{ if .Params.event_date }}
    <script>
      addEventListener("load", function () {
        const rule = rrule.RRule.fromString(
          "DTSTART;TZID={{ .Params.timezone }}:{{ printf "%sT%s:00" .Params.event_date .Params.start | time | dateFormat "20060102T150405"  }}\n" +
          "RRULE:FREQ={{ if .Params.freq}}{{ .Params.freq | upper }}{{ else }}WEEKLY;COUNT=1{{ end }}");
        const d = rule.after(new Date(), true)

        var when;
        var freq;

        if (d) {
          const dl = luxon.DateTime.fromJSDate(d)
            .toUTC()
            .setZone('local', { keepLocalTime: true })
          .toFormat("DDDD ttt")

          {{ if .Params.freq }}
          document.querySelector("#recur-{{ $slug }}").innerHTML = rule.toText();
          {{ end }}
          document.querySelector("#next-{{ $slug }}").innerHTML = dl;
        } else {
          console.log(document.querySelector("#li-{{ $slug }}"))
          console.log("#{{ $slug }}")
          document.querySelector("#{{ $slug }}").remove();
        }

      });
    </script>
    {{ end}}
  {{ end }}
  </ul>

  {{ if ne .Parent .Site.Home }}
  <hr>
  <div>
    {{ with  .OutputFormats.Get "calendar" -}}
    <a href="{{ .Permalink | safeURL }}">Sync to your calendar</a>
    <span> - or - </span>
    <button id="copywebcal">Copy calendar URL</button>
    <script>
      document.querySelector("#copywebcal").addEventListener("click", function() {
        const el = document.createElement('textarea');
        el.value = "{{ .Permalink | safeURL }}";
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
      });
    </script>
    {{- end }}
  </div>
  {{ end }}
</main>

{{partial "footer.html" .}}
