body {
  margin: 0;
}

header {
  max-width: 38rem;
  padding: 1rem;
  margin: auto;
}

main {
  max-width: 38rem;
  margin: 1rem auto 0;
}

#nav-toggle, #burger-menu {
  display: none;
}

#burger-menu {
  width: 40px;
  justify-self: end;
}

#burger-menu > img {
  width: 100%;
}

header {
  color: #555;
  background-color: #eee;
  margin-top: 1rem;
}


nav {
  max-width: 1720px;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background: #dc1010;
  color: black;

  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 1rem;
}

nav ol {
  margin: 0;
  padding: 0;
}

#nav-menu {
}

#nav-menu li {
  list-style: none;
  display: inline-block;
}

nav a {
  color: black;
  padding-right: 1rem;
}

nav a:visited {
  color: black;
}

@media only screen and (max-width: 1025px) {
  #burger-menu {
    display: inline-block;
  }

  #nav-menu {
    display: none;
  }

  #nav-toggle:checked ~ #nav-menu {
    display: grid;
    grid-row: 2;
  }

  #nav-menu a {
    padding: 1rem 0;
  }
}


a {
  text-decoration: none;
  color: #007bff;
}

a:visited {
  color: #007bff;
}
