{{partial "header.html" .}}

<main>
  <h1>{{ .Title }}</h1>
  <ul>
  {{ range ((.Pages.ByParam "title").ByParam "date").Reverse }}
  <li>
    <a href="{{ or .Params.link .Params.file }}">{{ .Title }}</a>
    {{ if .Params.license }}
      <span class="tag">{{ .Params.license }}</span>
    {{ end }}

    {{ if .Content }}
    <div class="moreinfo">
      {{ .Content }}
    {{ if .Params.contributors }}
      <p>
      Contributors: {{ delimit .Params.contributors ", " ", and "}}
      </p>
    {{ end }}
    </div>
    {{ end }}
  </li>
  {{ end }}
  </ul>
</main>

{{partial "footer.html" .}}
